
<div class="container">
  <div class="alert alert-info" role="alert" > Se ha actualizado satisfactoriamente:
    <%= @image.description %>
  </div>

  <div>
    <%= image_tag @image.picture.thumb.url, class:"figure-img img-fluid rounded" %>

  </div> 
</div> 